div#col-izq {
    width: 74%;
    display: inline-block;
    vertical-align: text-top;
    color:red;
}

div#encabezado{
	color:#1C7517;
	font-family: 'Oswald', sans-serif;
}

div#col-der {
    width: 24%;
    display: inline-block;
    vertical-align: text-top;
}

img {
    width:100%;
}
