div#encabezado{
	color:grey;
	font-family: 'Montserrat', sans-serif;
}


div#col-izq {
    width: 74%;
    display: inline-block;
    vertical-align:top;
    color:green;
}

div#col-der {
    width: 24%;
    display: inline-block;
}

img {
    width: 100%;
}